[Unit]
Description=Mailbox Synchronization Service
Documentation=man:mbsync(1)
Wants=network-online.target
After=network-online.target network.target dbus.socket

[Service]
Type=oneshot
ExecStart=mbsync -c %h/.config/isync/mbsyncrc -Va
ExecStartPost=/usr/bin/notmuch new