IMAPAccount robert-warriner
Host imap.mailbox.org
User robert.warriner@mailbox.org
Pass {{ onepasswordRead "op://personal/mailbox/password" }}
SSLType STARTTLS

IMAPStore mailbox-remote
Account robert-warriner

MaildirStore mailbox-local
Path ~/mail/mailbox/
Inbox ~/mail/mailbox/INBOX
SubFolders Verbatim

Channel mailbox
Far :mailbox-remote:
Near :mailbox-local:
Patterns * !Archives
Create Both
Expunge Both
SyncState *
