IMAPAccount mailbox.org
Host imap.mailbox.org
User robert.warriner@mailbox.org
PassCmd "{{ onepasswordRead "op://personal/mailbox/password" }}"
SSLVersion TLSv1.2

IMAPStore mailbox.org-remote
Account mailbox.org

MaildirStore mailbox.org-local
Path ~/mail/mailbox.org/
Inbox ~/mail/mailbox.org/INBOX
SubFolders Verbatim

Channel mailbox.org
Far :mailbox.org-remote:
Near :mailbox.org-local:
Patterns *
Create Both
Expunge Both
SyncState *
